.light-grey-background {
  background-color: #F8FAFC;
}

.fill-y {
  height:100vh;
}

.button {
  background:transparent;
  border:none;
  outline:none;
  color: inherit;
  width: 100%;
  padding:0;
  margin:0;
}
.button:hover {
  opacity: 70%;
}


