body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.text-lg {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.text-md {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}

.text-rg-bd {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

span,
p,
a,
div,
input,
.text-rg {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

